<h1>Hi Proxies.</h1>

<%= link_to 'New Proxy', dashboard_proxy_wizard_step_one_path, class: 'button' %>

<br><br>

<% if @proxies.any? %>
  <% @proxies.each do |proxy| %>
    <div>
      <p><%= link_to proxy.name, edit_dashboard_proxy_path(proxy) %></p>
    </div>

    <hr>
  <% end %>
<% end %>
