<h1>Content Types</h1>

<%= link_to 'Add Content Type', new_admin_content_type_path, class: 'button' %>
<br><br>

<% @content_types.each do |content_type| %>
  <div>
    <%= link_to content_type.name, edit_admin_content_type_path(content_type) %>
  </div>
<% end %>
