<div class="home-section home-section--gray">
  <h2>FAQs</h2>

  <div class="questions">
    <div class="question-row">
      <div class="question">Who needs this tool?</div>
      <div class="answer">Front-end devs that would like to make external API calls but do not have access to server code.</div>
    </div>    
  </div>
</div>
