<div class="home-section">
  <h2>Features</h2>

  <ul class="feature-list">
    <li>Make an external API request from a browser without CORS blocking the request</li>
    <li>Manage requests and proxies with an easy-to-use dashboard</li>
    <li>Add security by providing white-listed hosts that are allowed to use your proxy</li>
  </ul>
</div>
