<div class="hero">
  <h1>Trixie</h1>
  <p>
    Make API calls from the front-end without CORS getting in the way.
  </p>

  <%= link_to 'Create Account', new_user_registration_path, class: 'button' %>
  <%= link_to 'Sign In', new_user_session_path, class: 'button' %>
</div>
