<div class="hero">
  <h1>Trixie</h1>
  <p>
    When you need to make an API call from the front-end,
    but can't because of CORS
  </p>

  <%= link_to 'Sign In', new_user_session_path, class: 'button' %>
</div>
