.button {
  background: $black;
  color: $white;
  border: none;
  padding: 10px 14px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  border-radius: 0;
  text-decoration: none;

  &:hover {
    background: lighten($black, 30%);
    text-decoration: none;
  }
}
