.form {
  margin: 0 auto;
  max-width: 500px;
}

.model-form {
  .input--text {
    max-width: 700px;
  }
}

.input--text {
  border: solid $gray-medium 2px;
  padding: 10px;
  display: block;
  max-width: 600px;
  width: 100%;
  font-size: 16px;
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

.input--textarea {
  border: solid $gray-medium 2px;
  padding: 10px;
  display: block;
  max-width: 500px;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  height: 120px;
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

.input--select {
  padding: 5px;
  font-size: 16px;
  margin-top: 10px;

  &:focus {
    outline: none;
  }
}

.input--inline {
  display: inline-block;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}

.form-item {
  margin-bottom: 20px;
}

.form-section {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: solid #f5f5f5 1px;
}

.form-actions {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 16px;
  align-items: center;
}

.error {
  color: $red;
}

.errors {
  padding: 10px 20px;
  color: $red;
}

.field_with_errors {
  color: $red;

  .input--text {
    color: $red;
    border-color: $red;
  }
}

.field-prefix {
  margin-right: 4px;
}
