$gray-dark: #333;
$gray-medium: #ccc;
$gray-light: #eee;
$gray-lightest: #f9f9f9;
$white: #fff;
$red: #ff4f4f;
$green: #44a944;

// $primary: #1abc9c;
$primary: #44b549;
$secondary: #8e44ad;
$error: #e74c3c;

$font-primary: 'Open Sans';
$font-secondary: 'Paytone One';
