@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

$gray-dark: #333;
$gray-medium: #ccc;
$gray-light: #eee;
$gray-lightest: #f9f9f9;
$white: #fff;
$black: #000;
$red: #ff4f4f;
$green: #44a944;

// $primary: #1abc9c;
$primary: #44b549;
$secondary: #8e44ad;
$error: #e74c3c;

$font-primary: 'Rubik';
$font-secondary: 'Paytone One';
