<% if flash[:notice].present? %>
  <div class="flash flash--success">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:alert].present? %>
  <div class="flash flash--error">
    <%= flash[:alert] %>
  </div>
<% end %>

<% if flash[:error].present? %>
  <div class="flash flash--error">
    <%= flash[:error] %>
  </div>
<% end %>
